a {
  text-decoration: none;
  color: unset;
}

.fa-heart {
  position: absolute;
  font-size: 22px;
  margin-right: 25px;
}

.heart-full {
  opacity: 0;
  font-size: 22px;
  transition: all 880ms;
}
.heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heart-solid {
  opacity: 1;
  transition: all 880ms;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.heart-solid:hover {
  opacity: 0;
}

.restaurants__items {
  display: flex;
  flex-direction: column;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.restaurants__card--image {
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants__card--content {
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.restaurants__card--content--txt {
  flex: 1;
}
.restaurants__card--content--txt--title {
  margin: 0;
}
.restaurants__card--content--txt--subtitle {
  margin: 0;
}
.restaurants__card--content--img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .restaurants__items {
    gap: 50px 100px;
  }
}
@media screen and (min-width: 768px) {
  .restaurants__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 50px;
  }
}

.fonctionnement__list {
  display: flex;
  flex-direction: column;
  gap: 37px;
}
.fonctionnement__list--btn {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border: none;
  text-align: start;
  display: flex;
  flex-direction: row;
  gap: 27px;
  padding: 25px 22px;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.fonctionnement__list--btn--num {
  position: absolute;
  background-color: #9356dc;
  top: 25px;
  left: -10px;
  height: 24px;
  width: 24px;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__list--btn--store {
  color: #9356dc;
}
@media screen and (min-width: 768px) {
  .fonctionnement__list {
    flex-direction: row;
    white-space: nowrap;
  }
}

.footermenu {
  background-color: #353535;
  color: #ffffff;
  padding: 20px 25px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.footermenu__title {
  font-family: "Shrikhand";
  font-size: 1.125rem;
  margin: 0;
}
.footermenu__link {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footermenu__link__li {
  display: flex;
  gap: 11px;
}
.footermenu__link--white {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .footermenu {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .footermenu__link {
    display: flex;
    flex-direction: row;
  }
}

.headbloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}
.headbloc__logo {
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headbloc__logo--goback {
  position: absolute;
  left: 17px;
  top: 25px;
}
.headbloc__searchbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #eaeaea;
}
.headbloc__searchbar--location {
  border: none;
  background-color: #eaeaea;
}
.headbloc__img {
  width: 100%;
  object-fit: cover;
  height: 275px;
}
@media screen and (min-width: 1440px) {
  .headbloc__img {
    height: 383px;
  }
}

.btn {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  height: 50px;
  color: #ffffff;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 19px;
  padding-right: 19px;
  font-weight: 500;
  transition: all 300ms;
}
.btn:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.55);
  opacity: 0.7;
}

.btn-restaurant {
  padding-left: 49px;
  padding-right: 49px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: loader 3000ms forwards;
}
.loader p {
  position: relative;
  text-transform: uppercase;
  font-size: 30px;
}
.loader p::before {
  position: absolute;
  animation: loader 3000ms;
}

@keyframes loader {
  from {
    transform: translateX(-99px);
    transform: scaleX(1);
    color: #ff79da;
  }
  to {
    transform: translateX(0);
    transform: scaleX(4);
    color: #9356dc;
    opacity: 0;
    display: none;
  }
}
.heroheader {
  display: flex;
  flex-direction: column;
  padding: 30px 18px;
  background-color: #f6f6f6;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.heroheader__subtitle {
  color: #353535;
}

.main-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .main-container {
    gap: 30px;
  }
}

.fonctionnement {
  padding: 30px 18px;
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}

.new {
  position: relative;
}
.new::before {
  content: "nouveau";
  position: absolute;
  background-color: #99e2d0;
  color: #008766;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-items: center;
  right: 12px;
  top: 13px;
  padding: 5px;
  border-radius: 2px;
}

.restaurants {
  background-color: #f6f6f6;
  gap: 18px;
  padding: 30px 18px;
}
@media screen and (min-width: 1440px) {
  .restaurants {
    padding: 0 180px 30px 180px;
  }
}

/*# sourceMappingURL=home.css.map */
