@import "./coeur";

.restaurants {
  &__items {
    @include flex(column);
  }
  &__card {
    @include flex(column);
    border-radius: 15px;
    background-color: $white-color;
    margin-bottom: 15px;
    &--content {
      padding: 15px;
      @include flex;
      &--txt {
        flex: 1;
        &--title {
          margin: 0;
        }
        &--subtitle {
          margin: 0;
        }
      }
      &--img {
        @include flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--img {
      height: 231px;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 1440px) {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
  }
}
