.fa-heart {
  position: absolute;
  font-size: 22px;
  margin-right: 25px;
}

.heart-full {
  opacity: 0;
  font-size: 22px;
  transition: all 880ms;
  &:hover {
    opacity: 1;
    background-image: linear-gradient(
      193deg,
      $purple-color -11.44%,
      $pink-color 123.93%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
