.fonctionnement {
  &__list {
    &--btn {
      border-radius: 20px;
      height: 72.379px;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      border: none;
      text-align: start;
      @include flex;
      gap: 20px;
      padding: 28px 34px;
      align-items: center;
    }
  }
}
