.headbloc {
  @include flex(column);
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  &__logo {
    padding: 14px;
    @include flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &--goback {
      position: absolute;
      left: 17px;
      top: 25px;
    }
  }
  &__searchbar {
    @include flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 17px;
    height: 50px;
    background-color: $grey-color;
    &--location {
      border: none;
      background-color: $grey-color;
    }
  }
  &__img {
    width: 100%;
  }
  @media screen and (min-width: 1440px) {
    &__img {
      height: 383px;
    }
  }
}
