.btn-plate {
  @include flex;
  flex: 1;
  border-radius: 15px;
  padding-left: 15px;
  height: 69px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  animation-name: menu;
  animation-duration: $anim-dur;
  animation-fill-mode: both;
  &:hover {
    &__content {
      width: calc(100% - 30px - 69px);
      &--title {
        width: calc(100% - 30px - 69px);
      }
      &--subtitle {
        width: calc(100% - 30px - 69px);
      }
    }
    .btn-plate__choice {
      width: 69px;
      &--icon {
        opacity: 1;
      }
    }
  }
  @for $i from 1 through $number-menu {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
  &__content {
    @include flex(column);
    gap: 5px;
    align-items: start;
    justify-content: center;
    align-self: stretch;
    width: calc(100% - 30px);
    &--title {
      margin: 0;
      font-weight: bold;
      text-align: start;
      @include h3;
      @include ellipsis;
      width: calc(100% - 30px);
    }
    &--subtitle {
      margin: 0;
      text-align: start;
      @include ellipsis;
      @include p;
      width: calc(100% - 30px);
      color: $dark-color;
    }
  }
  &__price {
    @include flex;
    align-self: flex-end;
    font-weight: bold;
    display: flex;
    margin-right: 10px;
    width: 30px;
    padding-bottom: 15px;
  }
  &__choice {
    @include flex;
    background-color: $green-color;
    border-radius: 0 15px 15px 0;
    height: 69px;
    width: 0;
    align-items: center;
    justify-content: center;
    transition: width 0.5s;
    &--icon {
      color: $white-color;
      opacity: 0;
      transition: opacity 0.8s;
    }
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
