.btn-plate {
  @include flex;
  flex: 1 0 0;
  align-items: end;
  border-radius: 15px;
  padding: 15px;
  height: 69px;
  border: none;
  background: $white-color;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  animation-name: menu;
  animation-duration: $anim-dur;
  animation-fill-mode: both;
  @for $i from 1 through $number-menu {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
  &__content {
    @include flex;
    gap: 5px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-self: stretch;
    width: calc(100% - 15px);
    &--title {
      margin: 0;
      font-weight: bold;
      text-align: start;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &--subtitle {
      margin: 0;
      text-align: start;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__price {
    @include flex;
    align-items: flex-end;
    font-weight: bold;
    display: flex;
  }
  &__choice {
    @include flex;
    background-color: $green-color;
    height: 69px;
    border-radius: 0 15px 15px 0;
    width: 59px;
    margin-right: -59px;
    align-items: center;
    justify-content: center;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
