@import "../utils/variables";
@import "../utils/mixins";
@import "../components/card-resto";
@import "../components/fonctionnement-btn";
@import "../components/footer";
@import "../components/header";
@import "../components/main-button";

body {
  @include font;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.heroheader {
  @include flex(column);
  padding: 30px 18px;
  background-color: $background;
  text-align: center;
  justify-content: center;
  &__subtitle {
    color: $dark-color;
  }
}

.main-container {
  @include flex(column);
}

.fonctionnement {
  @include flex(column);
  padding: 30px 18px;
  &__list {
    @include flex(column);
    gap: 25px;
  }
}

.restaurants {
  background-color: $background;
  @include flex(column);
  gap: 18px;
  padding: 30px 18px;
  box-sizing: border-box;
}
