@import "../utils/variables";
@import "../utils/mixins";
@import "../components/footer";
@import "../components/header";
@import "../components/main-button";
@import "../components/label";
@import "../components/plat";

body {
  @include font;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  gap: 40px;
  background: $background;
  border-radius: 55px 55px 0 0;
  @include flex(column);
  padding: 32px 18px;
  position: relative;
  z-index: 999;
  margin-top: -30px;
  .main-title {
    @include title($dark-color);
    margin: 0;
  }
}

.card {
  @include flex(column);
  gap: 12px;
  &__title {
    padding-bottom: 5px;
    border-bottom: 3px solid $green-color;
    width: 40px;
    text-transform: uppercase;
  }
}

.commander {
  @include flex;
  justify-content: center;
}
