@import "../utils/variables";
@import "../utils/global";
@import "../utils/mixins";
@import "../components/footer";
@import "../components/header";
@import "../components/main-button";
@import "../components/coeur";
@import "../components/label";
@import "../components/plat";

body {
  @include font;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  gap: 40px;
  background: $background;
  border-radius: 35px 35px 0 0;
  @include flex(column);
  padding: 32px 18px;
  position: relative;
  z-index: 999;
  margin-top: -40px;
  @media screen and (min-width: 1440px) {
    margin: -40px 190px 0 190px;
    padding: 0 190px;
  }
}

.title-bloc {
  @include flex;
  justify-content: space-evenly;
  &__name {
    @include title($dark-color);
    margin: 0;
  }
  &__img {
    @include flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 24px;
  }
}

.card {
  @include flex(column);
  gap: 12px;
}

.command {
  @include flex;
  justify-content: center;
  margin-bottom: 40px;
}
