$green-color: #99e2d0;
$green-secondary-color: #008766;
$blue-color: #89c8fa;
$darkblue-color: #003a68;
$purple-color: #9356dc;
$dark-color: #353535;
$white-color: #ffffff;
$grey-color: #eaeaea;
$pink-color: #ff79da;
$background: #f6f6f6;
$number-menu: 10;
$anim-dur: 2000ms;
$anim-delay: calc($anim-dur / $number-menu);
