$green-color:#99E2D0;
$green-secondary-color:#008766;
$blue-color: #89C8FA;
$darkblue-color:#003A68;
$purple-color:#9356DC;
$dark-color:#353535;
$white-color: #FFFFFF;
$grey-color:#eaeaea;
$pink-color:#FF79DA;
$background:#F6F6F6;